@font-face {
	font-family: 'name';
	font-weight: 300;
	src: url('.......') format('woff2');
}

@font-face {
	font-family: 'name';
	font-weight: 400;
	src: url('.......') format('woff2');
}

@font-face {
	font-family: 'name';
	font-weight: 500;
	src: url('.......') format('woff2');
}

@font-face {
	font-family: 'name';
	font-weight: 700;
	src: url('.......') format('woff2');
}
