:root {
    // пример (тестовые данные, можно удалить)

    --background-black: #191919;

    --green-main: #95ff42;
    --green-main-hover: #aaff67;
 
    //пример с темной темой 
    --grey-bg: #272727;
    --grey-bg-hover-light: #333333; 
    --grey-bg-hover-dark: #616161; 

    
    --transition-duration: 0.3s; 
}
